:root {
  --primary: #fff;
  --bg-color: rgba(75,39,25,255);
  --bg-envelope-color: #875a47;
  --envelope-tab: #c98c77;
  --envelope-cover: #c0836e;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(135,63,69);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  position: relative;
}

.envelope-wrapper > .envelope {
  position: relative;
  width: 400px;
  height: 300px;
}

.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 180px solid var(--envelope-tab);
  border-right: 200px solid transparent;
  border-left: 200px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 180px solid transparent;
  border-right: 200px solid var(--envelope-cover);
  border-bottom: 120px solid var(--envelope-cover);
  border-left: 200px solid var(--envelope-cover);
}

.envelope > .letter {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
  z-index: 1;
}

.envelope > .letter > .text {
  font-family: "Times New Roman", Times, serif;
  color: var(--txt-color);
  text-align: center;
  font-size: 14px;
}

.heart {
  position: absolute;
  top: 57%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: var(--heart-color);
  transform: translate(-50%, -50%) rotate(45deg);
  cursor: pointer;
  z-index: 4;
  box-shadow: 0 1px 6px var(--shadow-color);
  /* ⚠️ NÃO usar border-radius aqui! */
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--heart-color);
  border-radius: 50%;
}

.heart::before {
  top: -12px;
  left: 0;
}

.heart::after {
  top: 0;
  left: -12px;
}

.flap > .envelope::before {
  transform: rotateX(180deg);
  z-index: 0;
}

.flap > .envelope > .letter {
  bottom: 100px;
  transform: translateX(-50%) scale(1.1); /* ou scale(1) para manter tamanho */
  transition-delay: 1s;
}

.flap > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

.player-spotify {
  margin: 20px 0;
  text-align: center;
}

.player-spotify iframe {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
